<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/webuploader.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<a href="/downLoad?fileName=[电影天堂www.dy2018.com]mghe行动BD国语中字.rmvb">下载</a>
<a href="/downLoad?fileName=Office 2013.rar">下载</a>
<a href="/downLoad?fileName=万能网卡驱动.zip">下载</a>

</body>
</html>