<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/webuploader.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        .itemDel, .itemStop, .itemUpload{
            margin-left: 15px;
            color: blue;
            cursor: pointer;
        }
        #theList{
            width: 80%;
            min-height: 100px;
            border: 1px dashed bisque;
        }
        #theList .itemStop{
            display: none;
        }
    </style>
</head>
<body>
<div id="uploader">
    <ul id="theList"></ul>
    <div id="picker">选择文件</div>
</div>
<script>
    var userInfo = {userId:"kazaff", md5:""};   //用户会话信息
    var uniqueFileName = null;          //文件唯一标识符
    var tasks = new $.Deferred();
    var url = "/uploadTest";
    WebUploader.Uploader.register({
        'add-file': 'addFiles',
        'before-send-file':'bsf',
        'before-send':'bs',
        'after-send-file':'asf'
    }, {
        addFiles: function(files) {
        },bsf:function (file) {
          /*  $.ajax({
                type: "POST"
                , url: backEndUrl
                , data: {
                    status: "md5Check"
                    , md5: val
                }
                , cache: false
                , timeout: 1000 //todo 超时的话，只能认为该文件不曾上传过
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){
            }*/
            uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
        },bs:function (block) {
            console.log(block);
            $.ajax({
                type: "POST"
                , url: url
                , data: {
                    status: "chunkCheck"
                    , name: uniqueFileName
                    , chunkIndex: block.chunk
                    , size: block.end - block.start
                }
                , cache: false
                , timeout: 1000 //todo 超时的话，只能认为该分片未上传过
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){

            });
        },asf: function (file) {
            $.ajax({
                type: "POST"
                , url: url
                , data: {
                    status: "chunksMerge"
                    , name: uniqueFileName
                    , chunkIndex: block.chunk
                    , size: block.end - block.start
                }
                , cache: false
                , timeout: 1000 //todo 超时的话，只能认为该分片未上传过
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){

            });
            console.log(file);
        }
    });
    var uploader = WebUploader.create({
        swf: "Uploader.swf"
        , server: url
        , pick: "#picker"
        , resize: false
        , dnd: "#theList"
        , paste: document.body
        , disableGlobalDnd: true
        , thumb: {
            width: 100
            , height: 100
            , quality: 70
            , allowMagnify: true
            , crop: true
        }
        , compress: false
        , prepareNextFile: true
        , chunked: true
        , chunkSize: 5000 * 1024
        , threads: true
//        , formData: userInfo
        , fileNumLimit: 1
        , fileSingleSizeLimit: 1000 * 1024 * 1024
        , duplicate: true
    });


    uploader.on("fileQueued", function(file){

        $("#theList").append('<li id="'+file.id+'">' +
                '<img /><span>'+file.name+'</span><span class="itemUpload">上传</span><span class="itemStop">暂停</span><span class="itemDel">删除</span>' +
                '<div class="percentage"></div>' +
                '</li>');

        var $img = $("#" + file.id).find("img");

        uploader.makeThumb(file, function(error, src){
            if(error){
                $img.replaceWith("<span>不能预览</span>");
            }

            $img.attr("src", src);
        });
    });
    $("#theList").on("click", ".itemUpload", function(){
        uploader.upload();
    });
</script>
</body>
</html>